<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All Services
    </ion-title>

    <ion-item slot="end">
      <div>
        <div>
          <ion-button color="primary" (click)="loginPrompt()">Login</ion-button>
          <ion-button color="primary" (click)="registerPrompt()">Register</ion-button>
        </div>
      </div>
    </ion-item>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Vacio</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Listo para empezar??</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
